<body>
  <div class="new-poster-form">
   <table>
      <%= form_for Poster.new do |f| %>
        <tr>
          <td><%= f.label :file %></td>
           <td><%= f.file_field :filepath  %></td>
        </tr>
        <tr>
          <td><%= f.label :title %></td>
          <td><%= f.text_field :title %></td>
        </tr>
        <tr>
          <%= f.fields_for :user do |ff| %>
          <td><label for="poster_user_email">Email</label></td>
          <td><span class="poster-user-email"><input id="poster_user_email" name="poster[user][email]" type="text"></span></td>
          <tr><td class="hidden"><label for="poster_user_email">Email</label></td>
          <td class="hidden"><span class="poster-user-email"><input id="poster_user_email" name="poster[user][email]" type="text"></span></td></tr>
            <tr><td class="hidden"><label for="poster_user_email">Email</label></td>
          <td class="hidden"><span class="poster-user-email"><input id="poster_user_email" name="poster[user][email]" type="text"></span></td></tr>
            <tr><td class="hidden"><label for="poster_user_email">Email</label></td>
          <td class="hidden"><span class="poster-user-email"><input id="poster_user_email" name="poster[user][email]" type="text"></span></td></tr>
            <td><%= f.submit "Add Author", :class => 'author-button' %></td>
          <% end%>
        </tr>
        <tr class="abstract-row">
          <td><%= f.label :abstract %></td>
          <td><span class="abstract-input"><%= f.text_area :abstract, size: "42x12" %></span></td>
        </tr>
        <tr>
        <td colspan="2"><%= f.submit "Submit poster", :class => 'submit-button' %></td>
        </tr>
      <% end %>
    </table>
  </div>
</body>
