
<div class="new-poster-form">
<% if @error %>
  <p class="big-error-message"><%= @error %></p>
  <ul class="small-error-messages">
    <% @errors.each do |attrib, err_array| %>
      <% err_array.each do |msg| %>
      <li><%= attrib.to_s.capitalize %> <%= msg %></li>
      <% end %>
    <% end %>
  </ul>
<% end %>
<table>
    <%= form_for @poster do |f| %>
    <tr>
      <td><%= f.label :filepath %></td>
       <td><%= f.file_field :filepath  %></td>
    </tr>
    <tr>
      <td><%= f.label :title %></td>
      <td><%= f.text_field :title, class: 'poster-title' %></td>
    </tr>
    <tr class="email-row">
      <td><label for="poster_user_email">Email</label></td>
      <td><span class="poster-user-email"><input class="poster_user_email" name="email1" type="text"></span></td>
    </tr>
    <tr class="hidden-email">
      <td><label for="poster_user_email">Email</label></td>
      <td><span class="poster-user-email"><input class="poster_user_email" name="email2" type="text"></span></td>
    </tr>
    <tr class="hidden-email">
      <td><label for="poster_user_email">Email</label></td>
      <td><span class="poster-user-email"><input class="poster_user_email" name="email3" type="text"></span></td>
    </tr>
    <tr class="hidden-email">
      <td><label for="poster_user_email">Email</label></td>
      <td><span class="poster-user-email"><input class="poster_user_email" name="email4" type="text"></span></td>
    </tr>
    <tr class="hidden-email">
      <td><label for="poster_user_email">Email</label></td>
      <td><span class="poster-user-email"><input class="poster_user_email" name="email5" type="text"></span></td>
    </tr>
    <tr class="hidden-email">
      <td><label for="poster_user_email">Email</label></td>
      <td><span class="poster-user-email"><input class="poster_user_email" name="email6" type="text"></span></td>
    </tr>
    <tr class="hidden-email">
      <td><label for="poster_user_email">Email</label></td>
      <td><span class="poster-user-email"><input class="poster_user_email" name="email7" type="text"></span></td>
    </tr>
    <tr>
      <td><%= f.submit "Add Author", :class => 'author-button' %></td>
    </tr>
    <tr class="abstract-row">
      <td><%= f.label :abstract %></td>
      <td><span class="abstract-input"><%= f.text_area :abstract, size: "42x12" %></span></td>
    </tr>
    <tr>
      <td colspan="2"><%= f.submit "Submit poster", :class => 'submit-button' %></td>
    </tr>
    <% end %>
  </table>
</div>
