
<div class="show_poster">
  <!-- Lets make a simple image magnifier -->
  <div class="pic_magnify">

    <!-- This is the magnifying glass which will contain the original/large version -->
    <div class="pic_large">
    </div>

    <!-- This is the small image -->
    <div class="pic_small">
      <img src="<%= @poster.filepath %>">
    </div>

  <!-- Lets load up prefixfree to handle CSS3 vendor prefixes -->
  <script src="http://thecodeplayer.com/uploads/js/prefixfree.js" type="text/javascript"></script>
  <!-- This can alternatively be downloaded from http://leaverou.github.com/prefixfree/ -->

  <script src="http://thecodeplayer.com/uploads/js/jquery-1.7.1.min.js" type="text/javascript"></script>

<div class="right_side_bar_before">
  <i class="fa fa-arrow-circle-left fa-2x"></i>
</div>

<div class="right_side_bar_after">
  <i class="fa fa-arrow-circle-left fa-2x fa-rotate-180"></i>
</div>

<div class="bottom_bar_before">
  <i class="fa fa-arrow-circle-left fa-2x fa-rotate-90"></i>
</div>

<div class="bottom_bar_after">
  <i class="fa fa-arrow-circle-left fa-2x fa-rotate-270"></i>
</div>


  <div class="comments_bar">
    <h2>Comments</h2>
    <ul>
      <% @poster.comments.each do |comment| %>
        <li><%= link_to "#{comment.user.name}", user_path(comment.user)%> - <%= comment.text %></li>
        <% if comment.get_all_subcomments != nil %>
          <ul>
            <% comment.get_all_subcomments.each do |c| %>
            <li><%= link_to "#{c.user.name}", user_path(c.user) %> - <%= c.text %></li>
            <% end %>
          </ul>
        <% end %>
      <% end %>
    </ul>
  </div>

  <div class="poster_info_bar">
  </div>
</div>

