<div class="col-2-12"></div>
<div class="col-8-12 user-container">
	<div class="col-8-12 user-info">
		<h2 class="user-name"><%= @user.name %><% if @user.degree %>, <%= @user.degree %> <% end %></h2></br>
		<p>Institution: <%= @user.institution %></p></br>
		<% if @user.linkedin_url %>
		<p>LinkedIn: <%= link_to "#{@user.linkedin_url}", @user.linkedin_url %></p></br>
		<% end %>
		<% if @user == current_user %>
		<%= link_to "Edit your profile", edit_user_path(@user) %>
		<%= link_to "New Poster", new_poster_path %>
		<% end %>
	</div>
	<div class="col-4-12 user-pic">
		<%= image_tag(@user.profile_pic, width: "303", height: "auto") %>
	</div>
</div>
<div class="col-3-8"></div>
<div class="col-1-4 posters-control">
	<div class="col-1-2 posters-control-filter">
		<p class="posters-control-status">Showing:</p>
		<%= select("tag", "discipline", Tag.all.map{|tag| tag.discipline}.unshift("All disciplines"), {}, class: "select-filter") %>
	</div>
	<div class="col-1-2 posters-control-sort">
		<p class="posters-control-status">Sort by:</p>
		<%= select("tag", "discipline", Tag.all.map{|tag| tag.discipline}.unshift("All disciplines"), {}, class: "select-sort") %>
	</div>
</div>
<div class="all-posters">
<%= render partial: "posters/poster", collection: @posters %>
</div>