<header>
  <div class="title"><h3>ScienceFair</h3></div>
  <nav>
    <% if !current_user %>
    <%= link_to "Login", new_session_path %>
    <%= link_to "Sign Up", new_user_path %>
    <% else %>
    <%=  link_to "Logout", session, method: :delete %>
    <%= link_to "Profile", current_user %>
    <% end %>
  </nav>
</header>
<!-- <header>
  <div class="title"><h3>ScienceFair</h3></div>
  <nav>
    <ul>
      <% if !current_user %>
      <li id="signin_link"><%= link_to "Login", new_session_path %></li>
      <li id="signup_link"><%= link_to "Sign Up", new_user_path %></li>
      <% else %>
      <li id="logout_link"><%=  link_to "Logout", session, method: :delete %></li>
      <li id="profile_link"><%= link_to "Profile", current_user %></li>
      <% end %>
    </ul>
  </nav>
</header> -->
